/* ページ全体 */

body {
  background-color: hsl(210, 40%, 10%);
 
}

/** ヘッダー */

.header__container { 
  background-color: hsl(210, 40%, 10%);
  padding: 10px;
  display: flex;
 justify-content: space-between;
 
}

.header__nav {
  width: 400px;
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
 
}

.nav-item {}

/* メンバー */
.member-section .members {
}

.member {
}

.member__image img {
}

.member__name {
}

/* ゲーム */

/* お問い合わせ */
