/* ページ全体 */

body {
  background-color: hsl(210, 40%, 10%);
}

/** ヘッダー */

.header__container {
}

.header__nav {
  color: darkgreen;
  width: 400px;
  margin-left: 550px;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
}

/* メンバー */
.member-section .members {
}

.member {
}

.member__image img {
}

.member__name {
}

/* ゲーム */

/* お問い合わせ */
